body {
  background-color: #f7efef;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: grid;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 45px;
}
.todo {
  display: grid;
  gap: 10px;
  width: 100%;
}
.TodoForm {
  display: grid;
  gap: 18px;
}
/****************************** ТЕКСТ ПРИВЕТСТВИЯ ******************************/

.welcome__text {
  margin-bottom: 35px;
  font-size: 30px;
}
/****************************** ВВОД ТЕКСТА ЗАДАЧИ ******************************/

#input__text {
  align-items: center;
  padding: 3% 3% 3% 3%;
  min-height: 50px;
  max-height: auto;
  border-radius: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 10px;
}
.input__todo{
  align-items: center;
  padding: 3% 3% 3% 3%;
  min-height: 50px;
  max-height: auto;
  border-radius: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 10px;
}
/****************************** ВЫБОРА КАТЕГОРИИ BUISNESS или PERSONAL ******************************/

.pick__category {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.pick__category__purpose {
  border-radius: 10px;
  width: 48%;
  height: 130px;
  background-color: #ffffff;
}
.business {
  border: 2.2px solid rgb(0, 120, 212);
}
.personal {
  border: 2px solid rgb(255, 105, 180);
}
.pick__category__input {
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: block;
  margin-top: 30px;
  margin-left: 130px;
}
.pick__category__input__text {
  margin-top: 10px;
  margin-left: 120px;
}
#pick__category__business {
  border: 2px solid rgb(0, 120, 212);
}
#pick__category__personal {
  color: rgb(255, 105, 180);
  border: 2px solid rgb(255, 105, 180);
}

/****************************** КНОПКА ДОБАВЛЕНИЯ ЗАДАЧ ******************************/

.add__button {
  margin-top: 20px;
  margin-bottom: 35px;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(67, 187, 196);
}
.add__button__text {
  color: #ffffff;
}

/****************************** СПИСОК ЗАДАЧ ******************************/
.task__list__item {
  display: flex;
  justify-content: space-between;
  padding: 3% 3% 3% 3%;
  min-height: 50px;
  max-height: auto;
  width: 100%;
  max-width: 600px;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  overflow-wrap: break-word;
  margin-bottom: 15px;
}
.task__list__item button {
  overflow: hidden;
  color: #ffffff;
  width: auto;
  height: 30px;
}
.task__button__edit {
  background-color: rgb(212, 34, 203);
  border-radius: 5px;
}
.task__button__remove {
  background-color: rgb(219, 50, 50);
  border-radius: 5px;
}
.task__button__save {
  background-color: rgb(180, 179, 179);
  border-radius: 5px;
}
.task__list__item--business:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: blue;
}

.task__list__item--personal:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgb(255, 154, 171);
}
.task__buttons {
  display: flex;
  width: auto;
  gap: 10px;
  justify-content: space-between;
}
/* .task__button__save {
  background-color: rgb(180, 179, 179);
  border-radius: 5px;
} */

.task__item__text {
  overflow-wrap: break-word;
  max-width: 65%;
}
/*Create todo*/
.create__todo {
  display: grid;
  gap: 15px;
}
